<!DOCTYPE html>
<html lang="ca">
<head>
    {% block title %}<title>Endinsa't a l'aventura</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="description" content="Endinsa’t en aventures per tot el món de la mà dels nostres viatgers. Descobreix països, històries i emocions. Atreveix-te!"/>
  <meta name="theme-color" content="#333" />

      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114120160-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114120160-1');
    </script>
   <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicons/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicons/apple-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicons/apple-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicons/apple-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicons/apple-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicons/apple-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicons/apple-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicons/apple-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-icon-180x180.png' %}">
<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'favicons/android-icon-192x192.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicons/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'favicons/manifest.json' %}">
<meta name="msapplication-TileColor" content="#333">
<meta name="msapplication-TileImage" content="{% static 'favicons/ms-icon-144x144.png' %}">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Permanent+Marker" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block head %}{%endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body  data-target="#myScrollspy" style="position: relative;" data-spy="scroll" data-offset="80">

    {% url 'index' as index_url %}
    {% if request.get_full_path != index_url %}
    <div class="topnav" id="myTopnav">
          <a href="{% url 'index' %}" class="inici"><img id="imatge-logo" alt="Endinsa't" src="{% static 'favicons/favicon-96x96.png' %}"/>Endinsa't</a>
          <a href="{% url 'trips' %}">Viatges</a>
          <a href="{% url 'redactors' %}">Redactors</a>
          <a href="{% url 'countries' %}">Països</a>
          <a href="{% url 'planned-trips' %}">Noves aventures</a>
          <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="gestionaNavBar()">&#9776;</a>

          {% block DiesNavbar %}
          {% endblock %}

    </div>
    {% endif %}


    <div class="container-fluid no-margin">
      {% block content %}{% endblock %}
    </div>


    <script language="JavaScript">
        // Controls the navbar display mobile/pc
        function gestionaNavBar() {
            var elements = document.getElementById("myTopnav").getElementsByTagName("a");
            for (var i = 0; i < elements.length; i++){
                if (elements[i].className === "inici" || elements[i].className === "icon"){continue}
                elements[i].classList.remove("hidden");
                if (elements[i].className !== ""){
                    elements[i].classList.add("hidden")
                }
                else {
                    elements[i].classList.remove("hidden")
                }
            }
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
    {% block javascript %}
    {% endblock %}
</body>
</html>