<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Endinsa't a l'aventura</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="theme-color" content="#333" />

      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114120160-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114120160-1');
    </script>
   <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Permanent+Marker" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block head %}{%endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body  data-target="#myScrollspy" style="position: relative;" data-spy="scroll" data-offset="80">

    {% url 'index' as index_url %}
    {% if request.get_full_path != index_url %}
    <div class="topnav" id="myTopnav">
          <a href="{% url 'index' %}" class="inici">Endinsa't</a>
          <a href="{% url 'trips' %}">Viatges</a>
          <a href="{% url 'redactors' %}">Redactors</a>
          <a href="{% url 'countries' %}">Països</a>
          <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="gestionaNavBar()">&#9776;</a>

          {% block DiesNavbar %}
          {% endblock %}

    </div>
    {% endif %}


    <div class="container-fluid no-margin">
      {% block content %}{% endblock %}
    </div>


    <script language="JavaScript">
        // Controls the navbar display mobile/pc
        function gestionaNavBar() {
            var elements = document.getElementById("myTopnav").getElementsByTagName("a");
            for (var i = 0; i < elements.length; i++){
                if (elements[i].className === "inici" || elements[i].className === "icon"){continue}
                elements[i].classList.remove("hidden")
                if (elements[i].className !== ""){
                    elements[i].classList.add("hidden")
                }
                else {
                    elements[i].classList.remove("hidden")
                }
            }
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
    {% block javascript %}
    {% endblock %}
</body>
</html>