{% extends "base_generic.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index_desktop.css' %}">
{% endblock %}

{% block content %}
<div id="loading">
<div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
<video loop muted autoplay class="fullscreen-bg-video" id="bg_video">
    <source src="{% static 'video/VID_20180727_141049.mp4' %}" type="video/mp4">
</video>
<div class="contenidor-titol">
    <h1 id="titol-pagina">
        Endinsa't a l'aventura
    </h1>
</div>

<div class="contenidor-links">
    <a class="link-index" href="{% url 'trips' %}"><img class="imatge-logo" src="{% static 'images/logos/viatges.png' %}"/>Viatges</a>
    <a class="link-index" href="{% url 'planned-trips' %}"><img class="imatge-logo" src="{% static 'images/logos/plans.png' %}"/>Plans</a>
    <a class="link-index" href="{% url 'countries' %}"><img class="imatge-logo" src="{% static 'images/logos/paisos.png' %}"/>Països</a>
</div>
{% endblock %}

{% block javascript %}
    <script>

    var vid = document.getElementById("bg_video");
    vid.oncanplaythrough = function() {
        document.getElementById("loading").classList.add("disapear");
        document.getElementsByTagName("body")[0].addEventListener("mousemove", calcFilter);
        function calcFilter(ev){
            var x = ev.clientX;
            var y = ev.clientY;
            var contrast = 1+(y/($(window).height()))*0.1;
            var sepia = 0.1+x/($(window).width());
            document.getElementById("bg_video").style.filter = "contrast("+contrast+") sepia("+sepia+")";
        }
    };


    </script>
{% endblock %}