{% extends "base_generic.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index_mobile.css' %}">
{% endblock %}

{% block content %}


<div id="loading">
<div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
<picture class="fullscreen-bg-image" >
    <img id="bg_image" src="{% static 'images/IMG_20181223_123202.jpg' %}">
</picture>
<div class="contenidor-titol">
    <h1 id="titol-pagina" property="v:titol">
        Endinsa't a l'aventura
    </h1>
</div>

<div class="contenidor-links">
    <a class="link-index" href="{% url 'trips' %}" property="v:viatges"><img class="imatge-logo" alt="viatges" src="{% static 'images/logos/viatges.png' %}"/>Viatges</a>
    <a class="link-index" href="{% url 'planned-trips' %}" property="v:plans-de-viatge"><img class="imatge-logo" alt="plans de viatge" src="{% static 'images/logos/plans.png' %}"/>Plans</a>
    <a class="link-index" href="{% url 'countries' %}" property="v:països"><img class="imatge-logo" alt="països" src="{% static 'images/logos/paisos.png' %}"/>Països</a>
</div>



{% endblock %}

{% block javascript %}
<script>
    var image = document.getElementById("bg_image");
    image.onload = function() {
        document.getElementById("loading").classList.add("disapear");
    };
</script>
{% endblock %}