h1{

    font-family: "Permanent Marker", sans-serif;
    font-size: 85px;
    color: #2f2f2b;
}

body{
    height: 100%;
    margin: 0;
}
.bg{
    background: url(../images/index.png);
    background-size: cover;
    background-position: 30% center;
    height: 100%;
}


.link-index {
    text-align: center;
    font-family: "Permanent Marker", sans-serif;
    display: flex;
    position: absolute;
    color: #8e4941;
    padding-top: 15px;
    font-size: 31px;
    background-image: linear-gradient(to right,#8e4941,#a57b4e, #4f4f4e, #8e4941);
    background-size: 300% auto;
    background-position: 100% 0;
    transition: background-position 0.75s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.link-index:hover{
    text-decoration: none;
    color: #8e4941;
    background-position: 0 0;
    cursor: pointer;
}

.foto{
    padding: 15px 25px;
    background-color: #f1ece0;
    box-shadow: 1px 1px 10px #9a9a9a;
    cursor: pointer;
}

/* Landscape */
@media screen and (min-width: 450px) and (min-height: 350px){
    .link-index{
        left:20% !important;
    }
}

@media screen and (min-width: 740px) and (min-height: 420px){
    .link-index{
        left:20% !important;
    }
}

@media screen and (min-width: 640px) and (min-height: 370px){
    .link-index{
        left:20% !important;
    }
}

@media screen and (min-width: 590px) and (min-height: 950px){
    .link-index{
        left:10% !important;
    }
}

/* Width*/

@media screen and (max-width: 600px) {
    .link-index{
        left:10%;
    }
}
@media screen and (min-width: 600px) {
    .link-index{
        left:14%;
    }
}

@media screen and (min-width: 800px) {
    .link-index{
        left:18%;
    }
}
@media screen and (min-width: 1000px) {
    .link-index{
        left:20%;
    }
}
@media screen and (min-width: 1200px) {
    .link-index{
        left:20%;
    }
}

@media screen and (min-width: 1400px) {
    .link-index{
        left:20%;
    }
}

@media screen and (min-width: 1600px) {
    .link-index{
        left:20%;
    }
}
@media screen and (min-width: 1800px) {
    .link-index{
        left:20%;
    }
}
@media screen and (min-width: 2000px) {
    .link-index{
        left:26%;
    }
}
@media screen and (min-width: 2200px) {
    .link-index{
        left:28%;
    }
}
@media screen and (min-width: 2400px) {
    .link-index{
        left:30%;
    }
}
@media screen and (min-width: 2600px) {
    .link-index{
        left:32%;
    }
}

/* Height */
@media screen and (max-height: 300px) {
    .link-index{
        top: 26%;
        font-size: 23px;
    }
    .link-index:nth-child(2){
        top:34%;
    }
    .link-index:nth-child(3){
        top:42%;
    }
}

@media screen and (min-height: 300px) {
    .link-index{
        top: 28%;
        font-size: 23px;
    }
    .link-index:nth-child(2){
        top:36%;
    }
    .link-index:nth-child(3){
        top:44%;
    }
}

@media screen and (min-height: 400px) {
    .link-index{
        top: 33%;
        font-size: 24px;
    }
    .link-index:nth-child(2){
        top:40%;
    }
    .link-index:nth-child(3){
        top:47%;
    }
}

@media screen and (min-height: 500px) {
    .link-index{
        top: 31%;
        font-size: 25px;
    }
    .link-index:nth-child(2){
        top:38%;
    }
    .link-index:nth-child(3){
        top:45%;
    }
}
@media screen and (min-height: 600px) {
    .link-index{
        top: 32%;
        font-size: 26px;
    }
    .link-index:nth-child(2){
        top:39%;
    }
    .link-index:nth-child(3){
        top:46%;
    }
}
@media screen and (min-height: 700px) {
    .link-index{
        top: 33%;
        font-size: 32px;
    }
    .link-index:nth-child(2){
        top:40%;
    }
    .link-index:nth-child(3){
        top:47%;
    }
}
@media screen and (min-height: 800px) {
    .link-index{
        top: 34%;
        font-size: 34px;
    }
    .link-index:nth-child(2){
        top:41%;
    }
    .link-index:nth-child(3){
        top:48%;
    }
}
@media screen and (min-height: 900px) {
    .link-index{
        top: 35%;
        font-size: 35px;
    }
    .link-index:nth-child(2){
        top:42%;
    }
    .link-index:nth-child(3){
        top:49%;
    }
}
@media screen and (min-height: 950px) {
    .link-index{
        top: 36%;
        font-size: 36px;
    }
    .link-index:nth-child(2){
        top:43%;
    }
    .link-index:nth-child(3){
        top:50%;
    }
}
@media screen and (min-height: 1050px) {
    .link-index{
        top: 37%;
        font-size: 38px;
    }
    .link-index:nth-child(2){
        top:44%;
    }
    .link-index:nth-child(3){
        top:51%;
    }
}
@media screen and (min-height: 1150px) {
    .link-index{
        top: 39%;
        font-size: 40px;
    }
    .link-index:nth-child(2){
        top:46%;
    }
    .link-index:nth-child(3){
        top:53%;
    }
}
@media screen and (min-height: 1300px) {
    .link-index{
        top: 41%;
        font-size: 41px;
    }
    .link-index:nth-child(2){
        top:48%;
    }
    .link-index:nth-child(3){
        top:55%;
    }
}
@media screen and (min-height: 1400px) {
    .link-index{
        top: 42%;
        font-size: 42px;
    }
    .link-index:nth-child(2){
        top:48%;
    }
    .link-index:nth-child(3){
        top:54%;
    }
}