h1{
    font-family: "Permanent Marker", sans-serif;
    font-size: calc(30px + 3.65vw);
    color: #8e4941;
    text-transform: uppercase;
    text-shadow: #a2a2a2 2px 1px 1px;
    padding: 50px 5px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 2px;
    word-spacing: 13px;
}

body{
    height: 100%;
    margin: 0;
    background: url(../images/index_image.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.index-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #ffffffe6;
    background-image: url(../images/background2.png);
    width: 90%;
    box-shadow: 5px 5px 30px #333;
    opacity: 0;
    transition: opacity 1.75s  ease-in-out;
    -webkit-transition: opacity 1.75s  ease-in-out;
    -moz-transition: opacity 1.75s  ease-in-out;
    -o-transition: opacity 1.75s  ease-in-out;
}

@media screen and (max-width: 600px) {
    .index-container {
        position: relative;
        top: 30px;
        transform: translate(-50%, 0);
    }
}
@media screen and (max-width: 328px) {
    h1{
        font-size:34px;
    }
}

@media screen and (max-width: 248px) {
    h1{
        font-size:30px;
    }
}


 .bot-right {
	position: relative;
 }

 .bot-right:before, .bot-right:after {
	 content: "";
	 position: absolute;
	 top: -3px;
	 right: -3px;
 }

 .bot-right:before {
	 bottom: 3px;
	 width: 3px;
	 background-image: -webkit-gradient(linear, 0 100%, 0 0, from(transparent), to(#333));
	 background-image: -webkit-linear-gradient(#333, transparent);
	 background-image: -moz-linear-gradient(#333, transparent);
	 background-image: -o-linear-gradient(#333, transparent);
 }

 .bot-right:after {
	 left: 3px;
	 height: 3px;
	 background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#333));
	 background-image: -webkit-linear-gradient(left, transparent, #333);
	 background-image: -moz-linear-gradient(left, transparent, #333);
	 background-image: -o-linear-gradient(left, transparent, #333);
 }

.contenidor-links a {
    font-family: 'Lato', sans-serif;
    color: #000;
    text-decoration: none;
    font-size: calc(15px + 2vw);
    margin: 0 7%;
    display: inline-block;
    padding: 25px 0;
}

.imatge-logo {
    display: block;
    margin: auto;
    transition: all 0.5s  ease-in-out;
    -webkit-transition: all 0.5s  ease-in-out;
    -moz-transition: all 0.5s  ease-in-out;
    -o-transition: all 0.5s  ease-in-out;
    max-width: calc(120px + 2vw);
    width: 40vw;
}

.imatge-logo:hover {
    transform: scale(1.1) rotateZ(360deg);
}