.trip-detail-hero-image{
    width: 100%;
    background-size: cover !important;
    height: 50%;

    /*background-attachment: fixed !important;*/
    background-position: 50% 50% !important;
}

.trip-detail-hero-text{
    text-align: center;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #424242;
    padding: 0 30px 5px 30px;
    border-radius: 40px;
    font-family: 'Permanent Marker', sans-serif;
    background: rgba(255,255,255,0.7);
}


.trip-detail-hero-text h1{
    font-size: 65px;
    color: #8e4941;
}


.contenidor-dies{
    max-width: 1016px;
    margin: 20px auto;
    font-family: 'Tempus Sans ITC', sans-serif;
    font-size: 17px;
    line-height: 30px;
    padding: 0 30px 0 57px;
}

.titol-dia{
    font-family: "Permanent Marker", sans-serif;
    font-size: 27px;
    color: #8e4941;
}

.text-muted p{
    text-align: justify;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
    line-height: 2.25;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .trip-detail-hero-text h1 {
        font-size: 60px
    }
}

@media screen and (max-width: 430px) {
    .trip-detail-hero-text h1 {
        font-size: 48px
    }
}


@media screen and (max-width: 380px) {
    .trip-detail-hero-text h1 {
        font-size: 41px
    }
}
