.redactors-hero-image{
    width: 100%;
    background: url(/static/images/redactor.jpg) bottom no-repeat;
    background-size: cover;
    height: 50%;
    background-attachment: fixed;
    background-position: 50% 100%;
}

.redactors-hero-text{
    text-align: center;
    display: inline-block;
    position: relative;
    width: 676px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #424242;
    background: rgba(255,255,255,0.7);
    padding: 0 30px 5px 30px;
    border-radius: 40px;
    font-family: 'Permanent Marker', sans-serif;
}

.redactors-hero-text h1{
    font-size: 65px;
    color: #8e4941;
}



.element-llistat-redactor {
    display: inline-block;
    margin: 30px 0 10px 0;
    padding: 5px 10px;
    font-family: "Permanent Marker", sans-serif;
}

.titol-redactor {
    font-size: 26px;
    text-align: center;
}



.imatge-redactor{
    width: 200px;
    height: 200px;
    background-size: cover;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin:auto;
}



@media screen and (max-width: 600px) {
    .redactors-hero-text h1 {
        font-size: 55px
    }
    .redactors-hero-text{
        width: 420px;
    }
}

@media screen and (max-width: 430px) {
    .redactors-hero-text h1 {
        font-size: 45px
    }
    .redactors-hero-text{
        width: 360px;
    }
}


@media screen and (max-width: 380px) {
    .redactors-hero-text h1 {
        font-size: 40px
    }
    .redactors-hero-text{
        width: 320px;
    }
}
