.viatge-hero-image{
    background: url(../images/viatge.jpg) bottom no-repeat;
}

.tag-redactor-viatge {
    padding: 1px 0 7px 0;
    text-align: center;
}

.durada-viatge{
    text-align: center;
    color: #8e4941;
}
