{% extends "base_generic.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/countriesList.css' %}">
{% endblock %}

{% block content %}


   <div class="paisos-hero-image">
        <div class="paisos-hero-text">
            <h1>Descobreix</h1>
        </div>
    </div>

    {% if country_list %}
    <div class="col-xs-12 contenidor-llistat-paisos">
      {% for country in country_list %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 container-fluid element-llistat-paisos">
          <a href="{{ country.get_absolute_url }}"  class="a-descripcio-pais">
              <div class="pais-container" style="background: url({{country.url_imatge_bandera}}) no-repeat;background-size: 100% 50%;">
                  <div class="titol-pais">
                    <span class="pais">{{ country.country_name }}</span>
                  </div>
              </div>

          </a>
      </div>

      {% endfor %}

    </div>
    {% else %}
      <p>No hi han viatges a la llibreria.</p>
    {% endif %}       
{% endblock %}