{% extends "base_generic.html" %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/tripDetails.css' %}">

{% endblock%}

{% block content %}

<div class="trip-detail-hero-image" style="background: url(/static/images{{ trip.url_static|lower }}/hero.jpg) bottom no-repeat">
    <div class="trip-detail-hero-text">
          <h1>{{ trip.title }}</h1>
    </div>
</div>

<div class="contenidor-dies">
    {% for day in trip.dayinstance_set.all %}
    <hr>
    <p><span class="titol-dia">{{day.title}}</span> | <strong>Durada:</strong> {{day.duration_calc}} {% if day.duration_calc > 1 %} dies {% else %} dia {% endif %}</p>
    <p class="text-muted">{{day.description | safe}}</p>
    {% endfor %}
  </div>
{% endblock %}