{% extends "base_generic.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/countriesList.css' %}">
{% endblock %}

{% block content %}


   <div class="hero-image paisos-hero-image">
        <div id="contenidor-principal" class="hero-text">
            <h1>Descobreix</h1>
        </div>
    </div>

     {% if country_list %}
    <div class="col-xs-12 contenidor-llistat-boles">
      {% for country in country_list %}
      <div class="col-xs-12 col-sm-6 col-md-4 element-llistat-boles">
          <div class="col-xs-12 contenidor-bola">
              <div class="col-xs-12 contenidor-imatge-bola" >
                  <div class="imatge-bola" onclick="window.location='{{ country.get_absolute_url }}'"  style="background-image: url({{ country.url_imatge_bandera }})" ></div>
              </div>
              <div class="col-xs-12 titol-bola">
                    <a href="{{ country.get_absolute_url }}">{{ country.country_name }}</a>
              </div>
          </div>

      </div>
      {% endfor %}
    </div>
    {% else %}
      <p>No hi han països a la llibreria.</p>
    {% endif %}       
{% endblock %}

{% block javascript %}
    <script>
        setTimeout(function(){
            document.getElementById("contenidor-principal").style.opacity = 1
        }, 500);
    </script>
{% endblock %}