{% extends "base_generic.html" %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/plannedtripDetails.css' %}">

{% endblock%}

{% block DiesNavbar %}
    {% for day in plannedtrip.planstatusupdate_set.all|dictsort:"id" %}
        <a class="scroll-smooth link-dies" href="#section{{forloop.counter}}" onclick="gestionaNavBarDies()">{{day.title}}</a>
    {% endfor %}
    <a href="javascript:void(0);" style="font-size:15px; right: 45px;" class="icon"  onclick="gestionaNavBarDies()">Dies &#x25BC;</a>
{%  endblock %}



{% block content %}

<div class="hero-image trip-detail-hero-image" style="background: url('{{ plannedtrip.get_hero_url }}') bottom no-repeat">
    <div id="contenidor-principal" class="hero-text">
          <h1>{{ plannedtrip.title }}</h1>
    </div>
</div>


<div class="contenidor-grup">
    <div class="row" style="max-width: 100%;">
        <nav class="col-sm-3 hidden-xs" id="myScrollspy">
          <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="256" style="margin-left: 20px;max-height: 348px;overflow: hidden;">
            <li class="more-li" onmousedown="mousedownLess()">
                <a class="scroll-smooth" href="javascript:void(0)">
                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                </a>
            </li>
            {% for day in plannedtrip.planstatusupdate_set.all|dictsort:"id" %}
                <li  class="scrollable-li{% if forloop.counter == 1 %} active{% endif %}">
                    <a class="scroll-smooth" href="#section{{forloop.counter}}">{{day.title}}</a>
                </li>
             {% endfor %}
              <li class="less-li" onmousedown="mousedownMore()">
                  <a class="scroll-smooth" href="javascript:void(0)">
                      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                  </a>
              </li>
          </ul>

        </nav>
        <div   style="width: 220px;"></div>
        <div class="contenidor-dies col-sm-9 col-xs-12">
            <div class="resum-viatge">
                {{ plannedtrip.summary | safe }}
            </div>
            <br>
            {% for day in plannedtrip.planstatusupdate_set.all|dictsort:"id" %}
            <p><span id="section{{forloop.counter}}" class="titol-dia">{{day.title}}</span></p>
            {% if day.day_image %}<img class="imatge-celo" src="{% static 'images/celo.png' %}"/><img class="imatge-dia lazy" data-src="{{ day.image_url|default_if_none:'#' }}" />{% endif %}
            <div class="contenidor-paragrafs">{{day.description | safe}}</div>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>

    {% block javascript %}
    <script>
    (function(w, d){
            w.addEventListener('LazyLoad::Initialized', function (e) {
				w.lazyLoadInstance = e.detail.instance;
			}, false);

            var b = d.getElementsByTagName('body')[0];
            var s = d.createElement("script");
            var v = !("IntersectionObserver" in w) ? "8.17.0" : "10.19.0";
            s.async = true; // This includes the script as async. See the "recipes" section for more information about async loading of LazyLoad.
            s.src = "https://cdn.jsdelivr.net/npm/vanilla-lazyload@" + v + "/dist/lazyload.min.js";
            w.lazyLoadOptions = {"elements_selector":".lazy","threshold":1000};
            b.appendChild(s);
        }(window, document));

$(document).ready(function() {

  // Add smooth scrolling on all links inside the navbar
    $(".scroll-smooth").on('click', function(event) {
        if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;

            $('html, body').animate({
                scrollTop: ($(hash).offset().top-70)
            }, 800, function(){});
        }  // End if
    });
});



    setTimeout(function(){
        document.getElementById("contenidor-principal").style.opacity = 1;
    }, 500);

    var mousedownID = -1;  //Global ID of mouse down interval
    if ($(".nav.nav-pills").height()>$(".less-li").offset().top){
        $(".less-li")[0].classList.add("sota")
    }
    comprovaScrollSuperior();
    comprovaScrollInferior();

    function scrollNavBar(direction){
        if(direction === -1 && comprovaScrollSuperior() === 0){return;}
        const velocitat = 8;
        var liElements = document.getElementsByClassName("scrollable-li");
        var position = 0;
        for (var i = 0, len = liElements.length; i < len; i++){
            if (i===0){if (comprovaScrollInferior() === 0 && direction === 1){return;}}
            position = parseFloat(liElements[i].style.top||0) + (direction*velocitat);
            liElements[i].style.top = (position + 'px');
        }
        comprovaScrollSuperior();
    }

    function comprovaScrollSuperior(){
        var ScrollableLi = $(".scrollable-li");
        var lessLiEl = document.getElementsByClassName("less-li")[0];
        var LessLi = $(".less-li");

        if(ScrollableLi.last().offset().top <= LessLi.offset().top -ScrollableLi.last().height()){
            lessLiEl.classList.add("desabilitat");
            return 0
        }
        else{
             lessLiEl.classList.remove("desabilitat");
             return 1
        }
    }

    function comprovaScrollInferior(){
        var liElements = document.getElementsByClassName("scrollable-li");
        var moreLi = document.getElementsByClassName("more-li")[0];
        var desabilitat = 1;
        if (liElements.length > 0){
            if( parseFloat(liElements[0].style.top||0) < 0){
                desabilitat = 0;
            }
        }
        if (desabilitat === 1){
            moreLi.classList.add("desabilitat");
            return 0
        }
        else{
            moreLi.classList.remove("desabilitat");
            return 1
        }
    }

    function gestionaNavBarDies(){
        var elements = document.getElementById("myTopnav").getElementsByTagName("a");
        for (var i = 0; i < elements.length; i++){
            if (elements[i].className.includes("inici")|| elements[i].className.includes("icon")){continue}
            if (elements[i].className.includes("link-dies")){
                elements[i].classList.remove("hidden")
            }
            else {
                elements[i].classList.add("hidden")
            }
        }
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }

     function windowSize() {
          var windowWidth = window.innerWidth ? window.innerWidth : $(window).width();
          var elements = document.getElementsByClassName("link-dies");

          if (windowWidth > 845) {
             for(var i = 0; i<elements.length; i++) {
                 elements[i].style.display = "none"
             }
          }
          else{
              for(var k = 0; k<elements.length; k++) {
                 elements[k].style.display="";
             }
          }
     }


    function mousedownMore() {
        if (mousedownID == -1)  //Prevent multimple loops!
            mousedownID = setInterval(whilemousedownMore, 50 /*execute every 100ms*/);
    }
    function mousedownLess() {
        if (mousedownID == -1)  //Prevent multimple loops!
            mousedownID = setInterval(whilemousedownLess, 50 /*execute every 100ms*/);
    }
    function mouseup(event) {
        if(mousedownID!=-1) {  //Only stop if exists
            clearInterval(mousedownID);
            mousedownID=-1;
        }
    }
    function whilemousedownMore() {
        scrollNavBar(-1)
    }

    function whilemousedownLess() {
        scrollNavBar(1)
    }

    document.addEventListener("mouseup", mouseup);
    //Also clear the interval when user leaves the window with mouse
    document.addEventListener("mouseout", mouseup);

    //Init Function of init it wherever you like...
    windowSize();

    // For example, get window size on window resize
    $(window).resize(function() {
      windowSize();
    });
</script>

    {% endblock %}

{% endblock %}