{% extends "base_generic.html" %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/redactorDetails.css' %}">

{% endblock%}

{% block content %}

<div class="hero-image" style="background: url({{ redactor.hero_image_url|default_if_none:'#'}}) bottom no-repeat">
    <div id="contenidor-principal" class="hero-text">
          <h1>{{ redactor.alias }}</h1>
    </div>
</div>

<main class="contenidor-dies">
    <hr>
    <h3 class="titol-dia">{{redactor.first_name}}</h3>
    <div class="contenidor-paragrafs">{{redactor.description | safe}}</div>
</main>
{% endblock %}

{% block javascript %}
    <script>
        setTimeout(function(){
            document.getElementById("contenidor-principal").style.opacity = 1
        }, 500);
    </script>
{% endblock %}