{% extends "base_generic.html" %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/tripDetails.css' %}">

{% endblock%}

{% block content %}

<div class="trip-detail-hero-image" style="background: url({{ redactor.get_hero_url }}) bottom no-repeat">
    <div class="trip-detail-hero-text">
          <h1>{{ redactor.alias }}</h1>
    </div>
</div>

<div class="contenidor-dies">
    <hr>
    <p><span class="titol-dia">{{redactor.first_name}}</span> </p>
    <p class="text-muted">{{redactor.description | safe}}</p>
</div>
{% endblock %}